/********** common setting **********/

#banner {
   /* height: 100vh;
    width: 100vw; */
    width: 100%;
    height: 100%;
    background: transparent radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 160%), #23d5ab, #333) no-repeat 0 0;
  }
  


h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

#imgLogo {
    width: 400px;
    height: auto;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

/*

.cta-green {
    background: #35b083;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #2b8d69;
}
*/

/************/
/*
.cta-green {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;

    background: #35b083;
    color: #192440;
}


.cta-green::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;

}

*/

/*
.cta-green:hover,
.cta-green:focus {
     
   transform: translateY(-6px);
    background-color: white;
    color:#00FFAD;

}

.cta-green:hover::before,
.cta-green:focus::before {
    opacity: 1;
}

*/
.cta-green::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    
}

.cta-green:hover::after,
.cta-green:focus::after {

    animation: none;
    display: none;
    
}


@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}



/* Overlay capas */

.overlay-container, .icon-overlay{
    width: 100%;
}

.overlay-container .icon-overlay{
    position: relative;
    bottom: 70px;
}

/*
.onesignal-customlink-container{
    width: 100%;
    height: 5px;

}
*/

/* Hasta aquí el botón hover */
#icon-hover:hover {
    transform: scale(1.25);
}



#banner {
    background-size: cover;
    background-color: #333333;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 120px;
}

